arrow==0.10.0
beautifulsoup4==4.12.3
bhr-client==1.6
certifi==2024.2.2
charset-normalizer==3.3.2
exceptiongroup==1.2.0
flake8==7.0.0
idna==3.6
iniconfig==2.0.0
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
multidict==6.0.5
mypy==1.8.0
mypy-extensions==1.0.0
packaging==23.2
phantom-toolbox @ git+https://github.com/techservicesillinois/phantom-toolbox.git@3cdfd63b7214b32407c590e4f4ef6ca5c9c6c9a6
pluggy==1.4.0
pycodestyle==2.11.1
pyflakes==3.2.0
Pygments==2.17.2
PyJWT==2.8.0
pytest==8.0.2
git+https://github.com/splunk/pytest-splunk-soar-connectors.git
python-dateutil==2.9.0.post0
PyYAML==6.0.1
requests==2.31.0
rich==13.7.1
setuptools-scm==8.0.4
six==1.16.0
soupsieve==2.5
tomli==2.0.1
types-beautifulsoup4==4.12.0.20240229
types-cryptography==3.3.23.2
types-html5lib==1.1.11.20240228
types-jwt==0.1.3
types-requests==2.31.0.6
types-urllib3==1.26.25.14
typing_extensions==4.10.0
urllib3==1.26.15
vcr_cleaner @ git+https://github.com/techservicesillinois/vcrpy-cleaner.git@9b4c3b816d735a31ccefbe2fa17bc57ea7ef5026
vcrpy==6.0.1
wrapt==1.16.0
yarl==1.9.4
